

.board-form{
   display: flex;
   flex-direction: column;
   row-gap: 8px;
   label[for='board-title']{
    text-align: left;
    }
    label[for='board-owner']{
        text-align: left;
    }
    label[for='board-preview']{
        text-align: left;
    }
    button{
        border: 1px solid black;
    }
    label[for='board-title-error']{
        text-align: left;
        color: red;
    }
    label[for='board-owner-error']{
        text-align: left;
        color: red;
    }
    .input-title,
    .input-owner {
        border: 1px solid red;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }
};