.card {
	background-color: #FFFF00;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 8px;
}

.actions {
	display: flex;
	column-gap: 4px;
}

.rate-button {
	background-color: #FFFF00;
}

.delete-button {
	background-color: #FFFF00;
}