.card-form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

label[for='card-message'] {
    text-align: left;
}

label[for='card-preview'] {
    text-align: left;
}

button {
    border: 1px solid black;
}

.input-message {
    border: 1px solid red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

label[for='card-error']{
    text-align: left;
    color: red;
}

label[for='card-character-count-preview'] {
    text-align: right;
    color: gray;
    font-size: small;
}